body {
    margin: 0 0 0 0;
    width: 100vw;
    height: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: lightblue;
}

@media only screen and (max-width: 600px) {
    body {
        /* margin: 68px 0 0 0; */
        justify-content: center;
    }
}